
OrderApi/bin/roslyn/csc.exe
OrderApi/bin/roslyn/csc.exe.config
OrderApi/bin/roslyn/csc.rsp
OrderApi/bin/roslyn/csi.exe
OrderApi/bin/roslyn/csi.exe.config
OrderApi/bin/roslyn/csi.rsp
OrderApi/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
OrderApi/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
OrderApi/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
OrderApi/bin/roslyn/Microsoft.CodeAnalysis.dll
OrderApi/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
OrderApi/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
OrderApi/bin/roslyn/Microsoft.CSharp.Core.targets
OrderApi/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
OrderApi/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
OrderApi/bin/roslyn/Microsoft.VisualBasic.Core.targets
OrderApi/bin/roslyn/Microsoft.Win32.Primitives.dll
OrderApi/bin/roslyn/System.AppContext.dll
OrderApi/bin/roslyn/System.Collections.Immutable.dll
OrderApi/bin/roslyn/System.Console.dll
OrderApi/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
OrderApi/bin/roslyn/System.Diagnostics.Process.dll
OrderApi/bin/roslyn/System.Diagnostics.StackTrace.dll
OrderApi/bin/roslyn/System.IO.Compression.dll
OrderApi/bin/roslyn/System.IO.FileSystem.dll
OrderApi/bin/roslyn/System.IO.FileSystem.DriveInfo.dll
OrderApi/bin/roslyn/System.IO.FileSystem.Primitives.dll
OrderApi/bin/roslyn/System.IO.Pipes.dll
OrderApi/bin/roslyn/System.Reflection.Metadata.dll
OrderApi/bin/roslyn/System.Security.AccessControl.dll
OrderApi/bin/roslyn/System.Security.Claims.dll
OrderApi/bin/roslyn/System.Security.Cryptography.Algorithms.dll
OrderApi/bin/roslyn/System.Security.Cryptography.Encoding.dll
OrderApi/bin/roslyn/System.Security.Cryptography.Primitives.dll
OrderApi/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
OrderApi/bin/roslyn/System.Security.Principal.Windows.dll
OrderApi/bin/roslyn/System.Text.Encoding.CodePages.dll
OrderApi/bin/roslyn/System.Threading.Thread.dll
OrderApi/bin/roslyn/System.ValueTuple.dll
OrderApi/bin/roslyn/System.Xml.ReaderWriter.dll
OrderApi/bin/roslyn/System.Xml.XmlDocument.dll
OrderApi/bin/roslyn/System.Xml.XPath.dll
OrderApi/bin/roslyn/System.Xml.XPath.XDocument.dll
OrderApi/bin/roslyn/vbc.exe
OrderApi/bin/roslyn/vbc.exe.config
OrderApi/bin/roslyn/vbc.rsp
OrderApi/bin/roslyn/VBCSCompiler.exe
OrderApi/bin/roslyn/VBCSCompiler.exe.config
OrderApi/obj/Debug/DesignTimeResolveAssemblyReferences.cache
OrderApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
OrderApi/obj/Debug/edmxResourcesToEmbed/Order.csdl
OrderApi/obj/Debug/edmxResourcesToEmbed/Order.msl
OrderApi/obj/Debug/edmxResourcesToEmbed/Order.ssdl
OrderApi/obj/Debug/OrderApi.csproj.CopyComplete
OrderApi/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
OrderApi/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OrderApi/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OrderApi/obj/Debug/TempPE/Order.Context.cs.dll
OrderApi/obj/Debug/TempPE/Order.Designer.cs.dll
OrderApi/obj/Debug/TempPE/Order1.cs.dll
OrderApi/obj/Debug/TempPE/OrderContext.Context.cs.dll
OrderApi/obj/Debug/TempPE/OrderContext.cs.dll
OrderApi/obj/Debug/TempPE/OrderContext.Designer.cs.dll
OrderApi/obj/Release/_WPPLastBuildInfo.txt
OrderApi/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
OrderApi/obj/Release/edmxResourcesToEmbed/OrderContext.csdl
OrderApi/obj/Release/edmxResourcesToEmbed/OrderContext.msl
OrderApi/obj/Release/edmxResourcesToEmbed/OrderContext.ssdl
OrderApi/obj/Release/OrderApi.csproj.CopyComplete
OrderApi/obj/Release/OrderApi.csproj.CoreCompileInputs.cache
OrderApi/obj/Release/OrderApi.csproj.FileListAbsolute.txt
OrderApi/obj/Release/OrderApi.csprojResolveAssemblyReference.cache
OrderApi/obj/Release/OrderApi.dll
OrderApi/obj/Release/OrderApi.pdb
OrderApi/obj/Release/Package/PackageTmp/bin/EntityFramework.dll
OrderApi/obj/Release/Package/PackageTmp/bin/EntityFramework.SqlServer.dll
OrderApi/obj/Release/Package/PackageTmp/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
OrderApi/obj/Release/Package/PackageTmp/bin/Newtonsoft.Json.dll
OrderApi/obj/Release/Package/PackageTmp/bin/OrderApi.dll
OrderApi/obj/Release/Package/PackageTmp/bin/OrderApi.pdb
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe.config
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/csc.rsp
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/csi.exe
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/csi.exe.config
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/csi.rsp
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
OrderApi/obj/Release/Package/PackageTmp/Web.config
OrderApi/obj/Release/Package/PackageTmp/OrderContext.edmx.diagram
OrderApi/obj/Release/Package/PackageTmp/Global.asax
OrderApi/obj/Release/Package/PackageTmp/bin/System.Web.Http.WebHost.dll
OrderApi/obj/Release/Package/PackageTmp/bin/System.Web.Http.dll
OrderApi/obj/Release/Package/PackageTmp/bin/System.Net.Http.Formatting.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe.config
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/vbc.rsp
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe.config
OrderApi/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
OrderApi/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OrderApi/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OrderApi/obj/Release/TransformWebConfig/transformed/Web.config
OrderApi/obj/Release/TransformWebConfig/original/Web.config
OrderApi/obj/Release/TempPE/OrderContext.Designer.cs.dll
OrderApi/obj/Release/TempPE/OrderContext.cs.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.XPath.XDocument.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe
OrderApi/obj/Release/TempPE/OrderContext.Context.cs.dll
OrderApi/obj/Release/TransformWebConfig/assist/Web.config
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.Primitives.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.Pipes.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Reflection.Metadata.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.AccessControl.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Claims.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Algorithms.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Encoding.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Primitives.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Principal.Windows.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Text.Encoding.CodePages.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Threading.Thread.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.ValueTuple.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.ReaderWriter.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.XmlDocument.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.XPath.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Collections.Immutable.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Console.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Diagnostics.Process.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.Diagnostics.StackTrace.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.Compression.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.DriveInfo.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.VisualBasic.Core.targets
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.Win32.Primitives.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/System.AppContext.dll
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CSharp.Core.targets
OrderApi/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
